@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 5%;
}

.landing-header {
  color: #396c1c;
  font-size: 600%;
  font-family: "Varela Round", sans-serif;
  margin-top: 0 !important;
}

.landing-header2 {
  color: #85b544;
  font-size: 600%;
  font-family: "Varela Round", sans-serif;
  margin-top: 1rem !important;
  margin-bottom: 1.5rem !important;
}

.landing-sub-header {
  font-size: 2rem;
  font-weight: 1;
  margin-bottom: 3rem;
}

.landing-logo {
  height: 52vh;
}

@media only screen and (max-width: 500px) {
  .landing-logo {
    height: 40vh;
  }
}

.grid > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.text-item {
  padding: 10px;
}